LOCUS_ENV=local
LOCUS_LOG_LEVEL=INFO
LOCUS_API_HOST=0.0.0.0
LOCUS_API_PORT=8100
LOCUS_REALTIME_PORT=8101
LOCUS_DATABASE_URL=mysql+asyncmy://locus_v2:locus_v2@mysql:3306/locus_v2
LOCUS_LEGACY_DATABASE_URL=
LOCUS_REDIS_URL=redis://valkey:6379/0
LOCUS_JWT_SECRET=replace-with-at-least-32-random-characters
LOCUS_ADMIN_EMAIL=dizz01@gmail.com
LOCUS_ALLOW_INSECURE_LOCAL_ADMIN=true
LOCUS_GOOGLE_AUTH_CLIENT_IDS=[]
LOCUS_ADMIN_SESSION_DAYS=7
LOCUS_ADMIN_SESSION_COOKIE=locus_admin_session
LOCUS_CORS_ORIGINS=["http://localhost:4201","http://localhost:8100"]
LOCUS_OPENAI_API_KEY=
LOCUS_GEMINI_API_KEY=
LOCUS_BILLING_USD_TO_EUR=0.87
LOCUS_BILLING_MARGIN_MULTIPLIER=2.20
LOCUS_BILLING_MIN_REALTIME_CALL_CHARGE_CENTS=3
LOCUS_BILLING_WORKER_POLL_SECONDS=1
